<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col border-end homeTitle">
                <h1><%= @workspace.name %></h1>
                <p><%= @workspace.domain %></p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col homeLinks">
                <h3><%= link_to "Members", workspace_members_path, class: "homeLink" %></h3>
                <h3><%= link_to "Vendors", workspace_vendors_path, class: "homeLink" %></h3>
            </div>
        </div>
    </div>
</div>