<table class="table transactionsTable">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Amount(¢)</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @vendorTransactions.each do |vendorTransaction| %>
      <tr>
        <td><%= vendorTransaction.description %></td>
        <td><%= vendorTransaction.amount_in_cents %></td>
        <!-- convert to local time and get date only -->
        <td><%= vendorTransaction.transaction_date.getlocal.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>