<div class="row main">
  <div class="col-1"></div>
  <div class="col-1 backButton">
    <h3><%= link_to "â†Back", root_path, class: "backButton" %></h3>
  </div>
  <div class="col-1"></div>

  <div class="col-6">
    <div class="row">
      <div class="col">
        <h1>Vendors</h1>
      </div>
    </div>

    <div class="row">
      <div class="col vendorsTable">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <% @workspaceVendors.each do |workspaceVendor| %>
              <tr>
                <td><%= link_to workspaceVendor.name, workspace_vendor_path(workspaceVendor.id) %></td>
                <td><%= workspaceVendor.description %></td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-3"></div>
</div>
