body {
    background: #222;
}

body, th, td{
    color:white;
}

.homeLinks, .homeTitle {
    margin: 40vh 0;
    text-align: center;
}

.homeLink, .backButton, .nameLink {
   color:white;
   text-decoration: none;
   font-weight: bold;
}

.homeLink {
    font-weight: normal;
} 

.backButton {
    text-align: center;
    margin-top: 5px;
}


.main {
    margin: 80px auto;
}

.marginTop200 {
    margin-top: 200px;
}

.logo {
    width: 30%;
    height: 30%;
    padding: 10px;
}

.navbar {
    background-color: transparent; 
    padding: 0;
}

.membersTable, .memberTable, .vendorsTable, .vendorTable {
    margin-top: 50px;
}

.transactionsTable {
    margin-top: 30px;
}