body {
    background: #222;
}

body, th, td{
    color:white;
}

.homeLinks, .homeTitle {
    margin: 40vh 0;
    text-align: center;
}

.homeLink, .backButton {
   color:white;
   text-decoration: none; 
   background-color: none;
}

.backButton {
    text-align: center;
    margin-top: 5px;
}

.main {
    margin: 80px auto;
}

.marginTop100 {
    margin-top: 100px;
}

.membersTable, .memberTable, .vendorsTable, .vendorTable {
    margin-top: 50px;
}

.transactionsTable {
    margin-top: 30px;
}